html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    margin-top: 50px;
}

.input {
    margin-bottom: 20px;
}


.jawaban {
    height: 90px;
    padding: 0 20px;
}

.button {
    transition: .444s;
}